<style>
    #logo {
        height: 100px;
        width: 100px;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<main>
    <div style="background-color:black">
        <div style="text-align:center">
        <img src="https://static.wixstatic.com/media/4b5ce9_3d7d237933534468ad112ad9258bdb57~mv2.jpg/v1/fill/w_160,h_160,al_c,q_80,usm_0.66_1.00_0.01/Asset%206%404x-100.webp" alt="Italian Trulli"  id="logo">
        </div>
        <nav class="navbar navbar-expand-lg" style="background-color:black">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">HOB Collection</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            MENS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Collection</a>
                            <a class="dropdown-item" href="#">T-Shirts&Tops</a>
                            <a class="dropdown-item" href="#">Sleeveless</a>
                            <a class="dropdown-item" href="#">Outwear</a>
                            <a class="dropdown-item" href="#">Joggers</a>
                            <a class="dropdown-item" href="#">Shorts</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            WOMENS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Collection</a>
                            <a class="dropdown-item" href="#">T-Shirts & Tops</a>
                            <a class="dropdown-item" href="#">Sleeveless</a>
                            <a class="dropdown-item" href="#">Outwear</a>
                            <a class="dropdown-item" href="#">Workout Sets</a>
                            <a class="dropdown-item" href="#">Sports Bras</a>
                            <a class="dropdown-item" href="#">Leggings</a>
                            <a class="dropdown-item" href="#">Joggers</a>
                            <a class="dropdown-item" href="#">Shorts</a>
                            <a class="dropdown-item" href="#">Swimwear</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            GEAR & ACCESSORIES
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Collection</a>
                            <a class="dropdown-item" href="#">Headwear</a>
                            <a class="dropdown-item" href="#">Masks</a>
                            <a class="dropdown-item" href="#">Jewerly</a>
                            <a class="dropdown-item" href="#">Stickers & Other Accessories</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ENCOURAGMENT
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Stimulating Thoughts</a>
                            <a class="dropdown-item" href="#">Motivational Stories</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</main>
