<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
  
    .navbar-custom {
        background-color: black !important; 
    }

    .caption {
        text-align:center;
    }

    /*.carousel-slide {
        display: flex;
    }*/

    /*.carousel-inner {
        width: auto;
        height: 500px;
        max-height: 500px;
    }*/

   /* .hot-releases-text {
        background-color: black;
        text-color: white !important;
    }

    .hot-releases {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } 
    */

    .header {
        align-self: flex-end;
    }


    /*.carousel-item {
        border-radius: 25px;
    }*/

    .container-fluid {
        background-color: black !important;
    }

    .fit-image{
        width: 100%;
        object-fit:cover;
        height: auto;
    }
</style>
<!-- Logo -->
<div style="background-color:black">
    <div style="text-align:center">
        <img src="https://static.wixstatic.com/media/4b5ce9_3d7d237933534468ad112ad9258bdb57~mv2.jpg/v1/fill/w_160,h_160,al_c,q_80,usm_0.66_1.00_0.01/Asset%206%404x-100.webp" alt="Italian Trulli"  id="logo">
    </div>
</div>
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-custom"  style="background-color:black">
<div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">HOB Collection</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    MENS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Collection</a>
                    <a class="dropdown-item" href="#">T-Shirts&Tops</a>
                    <a class="dropdown-item" href="#">Sleeveless</a>
                    <a class="dropdown-item" href="#">Outwear</a>
                    <a class="dropdown-item" href="#">Joggers</a>
                    <a class="dropdown-item" href="#">Shorts</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    WOMENS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Collection</a>
                    <a class="dropdown-item" href="#">T-Shirts & Tops</a>
                    <a class="dropdown-item" href="#">Sleeveless</a>
                    <a class="dropdown-item" href="#">Outwear</a>
                    <a class="dropdown-item" href="#">Workout Sets</a>
                    <a class="dropdown-item" href="#">Sports Bras</a>
                    <a class="dropdown-item" href="#">Leggings</a>
                    <a class="dropdown-item" href="#">Joggers</a>
                    <a class="dropdown-item" href="#">Shorts</a>
                    <a class="dropdown-item" href="#">Swimwear</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    GEAR & ACCESSORIES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Collection</a>
                    <a class="dropdown-item" href="#">Headwear</a>
                    <a class="dropdown-item" href="#">Masks</a>
                    <a class="dropdown-item" href="#">Jewerly</a>
                    <a class="dropdown-item" href="#">Stickers & Other Accessories</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ENCOURAGMENT
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Stimulating Thoughts</a>
                    <a class="dropdown-item" href="#">Motivational Stories</a>
                </div>
            </li>
        </ul>
    </div>
</div>
</nav>

<!-- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
    <li data-target="#slides" data-slide-to="3"></li>
</ul>
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://static.wixstatic.com/media/4b5ce9_99df0308cecd4ce8804b811a44758fc3~mv2.jpg/v1/fill/w_980,h_576,al_r,q_85,usm_0.66_1.00_0.01/4b5ce9_99df0308cecd4ce8804b811a44758fc3~mv2.webp" alt="First slide">
        <div class="carousel-caption">
            <h2 class="display-2">HOB Collection</h2>
            <button type="button" class="btn btn-outline-light btn-lg">View Collection</button>
        </div>
    </div>
    <div class="carousel-item">
        <img class="d-block w-100" src="https://static.wixstatic.com/media/4b5ce9_df0871980fbd4e8a918d038ca0249292~mv2.jpg/v1/fill/w_980,h_576,al_c,q_85,usm_0.66_1.00_0.01/4b5ce9_df0871980fbd4e8a918d038ca0249292~mv2.webp" alt="Second slide">
        <div class="carousel-caption">
            <h2 class="display-2">Spring Collection</h2>
            <button type="button" class="btn btn-outline-light btn-lg">Browse Now</button>
        </div>
    </div>
    <div class="carousel-item">
        <img class="d-block w-100" src="https://static.wixstatic.com/media/25f3945364234ed78baf0c0762864866.jpg/v1/fill/w_980,h_576,al_c,q_85,usm_0.66_1.00_0.01/25f3945364234ed78baf0c0762864866.webp" alt="Third slide">
        <div class="carousel-caption">
            <h2 class="display-2">Workout With Us</h2>
            <button type="button" class="btn btn-outline-light btn-lg">Let's Go!</button>
        </div>
    </div>
    <div class="carousel-item">
        <img class="d-block w-100" src="https://static.wixstatic.com/media/db4e2bee42444b18bbb76765300c684f.jpg/v1/fill/w_980,h_576,al_c,q_85,usm_0.66_1.00_0.01/db4e2bee42444b18bbb76765300c684f.webp" alt="Fourth slide">
        <div class="carousel-caption">
            <h2 class="display-2">First Responder Discount</h2>
            <button type="button" class="btn btn-outline-light btn-lg">Shop Now</button>
        </div>
    </div>
</div>
</div>

<!-- Hot Releases -->
<div class="container-fluid padding">
<div class="row welcome text-center">
    <div class="col-12">
        <h1 class="display-4">Hot Releases</h1>
    </div>
</div>
</div>

<!-- Releases Images -->
<div class="container-fluid">
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 thumnail" style="background-color:blue">
        <img class="img-responsive fit-image" src="https://static.wixstatic.com/media/4b5ce9_c673e55d90a241e8be9b9a2781cc75cc~mv2_d_2381_3175_s_2.jpg/v1/crop/x_69,y_0,w_2024,h_1736/fill/w_736,h_632,al_c,q_85,usm_0.66_1.00_0.01/AfterlightImage%2010.webp">
        <button type="button" class="btn btn-outline-light btn-lg">Shop Now</button>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4" style="background-color:red">
        <img class="img-responsive fit-image" src="https://static.wixstatic.com/media/4b5ce9_c673e55d90a241e8be9b9a2781cc75cc~mv2_d_2381_3175_s_2.jpg/v1/crop/x_69,y_0,w_2024,h_1736/fill/w_736,h_632,al_c,q_85,usm_0.66_1.00_0.01/AfterlightImage%2010.webp">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4" style="background-color:white">
        <img class="img-responsive fit-image" src="https://static.wixstatic.com/media/4b5ce9_c673e55d90a241e8be9b9a2781cc75cc~mv2_d_2381_3175_s_2.jpg/v1/crop/x_69,y_0,w_2024,h_1736/fill/w_736,h_632,al_c,q_85,usm_0.66_1.00_0.01/AfterlightImage%2010.webp">
    </div>
</div>
</div>
<!--<div class="row text-center padding">
<div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <img class="img" src="https://static.wixstatic.com/media/4b5ce9_c673e55d90a241e8be9b9a2781cc75cc~mv2_d_2381_3175_s_2.jpg/v1/crop/x_69,y_0,w_2024,h_1736/fill/w_736,h_632,al_c,q_85,usm_0.66_1.00_0.01/AfterlightImage%2010.webp">
        <h4>Men's</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <img class="img" src="https://static.wixstatic.com/media/4b5ce9_c673e55d90a241e8be9b9a2781cc75cc~mv2_d_2381_3175_s_2.jpg/v1/crop/x_69,y_0,w_2024,h_1736/fill/w_736,h_632,al_c,q_85,usm_0.66_1.00_0.01/AfterlightImage%2010.webp">
        <div></div>
        <h4>Women's</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <img class="img" src="https://static.wixstatic.com/media/4b5ce9_c673e55d90a241e8be9b9a2781cc75cc~mv2_d_2381_3175_s_2.jpg/v1/crop/x_69,y_0,w_2024,h_1736/fill/w_736,h_632,al_c,q_85,usm_0.66_1.00_0.01/AfterlightImage%2010.webp">
        <h4>Accessories</h4>
    </div>
</div>
<hr class="my-4">
</div>
-->
<!--
    <div class="carousel slide container-fluid" id="carouselExampleIndicators" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://static.wixstatic.com/media/4b5ce9_99df0308cecd4ce8804b811a44758fc3~mv2.jpg/v1/fill/w_980,h_576,al_r,q_85,usm_0.66_1.00_0.01/4b5ce9_99df0308cecd4ce8804b811a44758fc3~mv2.webp" alt="First slide">
                <div class="carousel-caption row">
                    <h1 class="display-2 center-block">HOB Collection</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://static.wixstatic.com/media/4b5ce9_df0871980fbd4e8a918d038ca0249292~mv2.jpg/v1/fill/w_980,h_576,al_c,q_85,usm_0.66_1.00_0.01/4b5ce9_df0871980fbd4e8a918d038ca0249292~mv2.webp" alt="Second slide">
                <div class="carousel-caption">
                    <h4 class="display-2">Spring Collection</h4>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://static.wixstatic.com/media/25f3945364234ed78baf0c0762864866.jpg/v1/fill/w_980,h_576,al_c,q_85,usm_0.66_1.00_0.01/25f3945364234ed78baf0c0762864866.webp" alt="Third slide">
                <div class="carousel-caption">
                    <h4 class="display-2">Workout With Us</h4>
                </div>
            </div>
            <div class="carousel-item">
               <img class="d-block w-100" src="https://static.wixstatic.com/media/db4e2bee42444b18bbb76765300c684f.jpg/v1/fill/w_980,h_576,al_c,q_85,usm_0.66_1.00_0.01/db4e2bee42444b18bbb76765300c684f.webp" alt="Fourth slide">
               <div class="carousel-caption">
                    <h4 class="display-2">First Responder Discount</h4>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
-->

<!--       <h1>HOT RELEASES</h1>
    </div>
    <div class="first-item">
        <div class="content">
            <img class="img"src="https://static.wixstatic.com/media/4b5ce9_c673e55d90a241e8be9b9a2781cc75cc~mv2_d_2381_3175_s_2.jpg/v1/crop/x_69,y_0,w_2024,h_1736/fill/w_736,h_632,al_c,q_85,usm_0.66_1.00_0.01/AfterlightImage%2010.webp">
        </div>
        <div class="header">
            <h2> First Item </h2>
        </div>
    </div>
    <div class="second-item">
        <div class="first-content">
            <img class="img"src="https://static.wixstatic.com/media/4b5ce9_c673e55d90a241e8be9b9a2781cc75cc~mv2_d_2381_3175_s_2.jpg/v1/crop/x_69,y_0,w_2024,h_1736/fill/w_736,h_632,al_c,q_85,usm_0.66_1.00_0.01/AfterlightImage%2010.webp">
        </div>
        <div class="header">
            <h2> Second Item </h2>
        </div>
    </div>
    <div class="third-item">
        <div class="content">
            <img class="img"src="https://static.wixstatic.com/media/4b5ce9_c673e55d90a241e8be9b9a2781cc75cc~mv2_d_2381_3175_s_2.jpg/v1/crop/x_69,y_0,w_2024,h_1736/fill/w_736,h_632,al_c,q_85,usm_0.66_1.00_0.01/AfterlightImage%2010.webp">
        </div>
        <div class="header">
            <h2> Third Item</h2>
        </div>
    </div>
</div>
-->





